<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dany Bruyère - Bienvenue sur la page d'accueil de mon site</title>
    <meta name="description" content="Bonjour je suis Danielle Bruyère je vous présente mon site qui consistera a vous presenter mes deux cancers et mes conseils et aide pour vous aide, Je vous présenterai également mes tableaux et mes décoration au fil du temps">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        {{ encore_entry_link_tags('home') }}
</head>
<body>

<div class= 'container'>
    <div class="container_content">
        <div class="container_content_inner">
            <div class="title">
                <h1>Dany</h1>
            </div>
            <div class="par">
                <p>
                    Bienvenue sur mon site pour explorer la partie qui vous interesse cliquez sur le bouton
                </p>
            </div>
            <div class="btns" style="display:flex;">
                <a class="btns_more" href="{{path('cancers')}}">Mes cancers</a>
                <a class="btns_more" href="{{path('tableaux')}}">Mes tableaux</a>
                <a class="btns_more" href="{{path('decoration')}}">Mes décorations</a>
            </div>
        </div>
    </div>
    <div class="container_outer_img">
        <div class="img-inner">
            <img src='https://images.unsplash.com/photo-1517911041065-4960862d38f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80'  alt="" class="container_img"/>
        </div>
    </div>
</div>
<div class="overlay"></div>



<script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
{{ encore_entry_script_tags('home') }}
</body>
</html>
