<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Base Site{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    <footer class="footer-08">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 py-5">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">A props de moi</h2>
                            <p>Vous avez aimé mes décos ou mes tableaux n'hésiter pas à me contacter, je peux réaliser vos envies.</p>
                            <ul class="ftco-footer-social p-0" style="display: flex; justify-content: center">
                                <li class="ftco-animate"><a data-toggle="tooltip" data-placement="top" title="Cancer"><span class="fa-solid fa-virus"></span></a></li>
                                <li class="ftco-animate"><a data-toggle="tooltip" data-placement="top" title="Décoration"><span class="fa-solid fa-book"></span></a></li>
                                <li class="ftco-animate"><a data-toggle="tooltip" data-placement="top" title="Tableaux"><span class="fa-solid fa-palette"></span></a></li>
                            </ul>
                        </div>

                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-9">
                                    <div class="row">
                                        <div class="col-md-6 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Plan du site</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="{{ path('homepage') }}" class="py-1 d-block">Accueil</a></li>
                                                <li><a href="#" class="py-1 d-block">Mes cancers</a></li>
                                                <li><a href="#" class="py-1 d-block">Mes décorations</a></li>
                                                <li><a href="#" class="py-1 d-block">Mes tableaux</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Connexion</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">Se connecter</a></li>
                                                <li><a href="#" class="py-1 d-block">S'inscrire</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-5">
                        <div class="col-md-12">
                            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://bj-technodev.fr" target="_blank">Projet réalisé par BjTechnoDev</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
                    <h2 class="footer-heading footer-heading-white">Contactez-nous</h2>
                    {{ form_start(our_form) }}
                    <div class="form-group footermargin">
                        {{ form_row(our_form.fullName, {'attr': {'class': 'form-control','placeholder':'Votre nom'},'label':'Nom'}) }}
                    </div>
                    <div class="form-group footermargin">
                        {{ form_row(our_form.email, {'attr': {'class': 'form-control','placeholder':'Email@gmail.com'},'label':'Email'}) }}

                    </div>
                    <div class="form-group footermargin">
                        {{ form_row(our_form.subject, {'attr': {'class': 'form-control','placeholder':'L\'objet de votre demande'},'label':'Objet'}) }}

                    </div>
                    <div class="form-group footermargin">
                        {{ form_row(our_form.message, {'attr': {'class': 'form-control','placeholder':'Votre message'},'label':'Message'}) }}

                    </div>
                    <div class="form-group footermargin">
                        <button type="submit" class="form-control submit px-3">Envoyer</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineLite.min.js" integrity="sha512-T/E3UhCb5Vz6RA/UEVrwQEXjPgi+BKBS14P1MZdzohDFcaGm60MFPOib+gF/B8PDWbNytGn0zaFa73Jaj61Vbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
    </html>
