<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Site dany{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}{% endblock %}">
        <link rel="shortcut icon" href="{{asset('build/favicon.ico')}}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
            <div class="container"><a class="navbar-brand" href="{{ path('homepage') }}">
                    <strong class="h6 mb-0 font-weight-bold text-uppercase">Dany</strong></a>
                <button id="navbar" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{path('cancers')}}" style="color: #ff5a5f">Mes Cancers</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path('tableaux')}}" style="color: #ff5a5f">Mes Tableaux</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path('decoration')}}" style="color: #ff5a5f">Mes Décorations</a></li>
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a class="nav-link" href="{{path('admin')}}" style="color: red">{{app.user.name}}</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="#" style="color: #ff5a5f">{{app.user.name}}</a></li>
                            {% endif %}
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}" style="color: #ff5a5f">Se déconnecter</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}" style="color: #ff5a5f">Se connecter</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            J'accepte
        </button>
        <button type="button" class="btn btn-primary btn-sm deletecookies">
            Je n'accepte pas
        </button>
    </div>
    <footer class="footer-08">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 py-5">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">A propos de moi</h2>
                            <p>Vous avez aimé mes décos ou mes tableaux n'hésiter pas à me contacter, je peux réaliser vos envies.</p>
                            <ul class="ftco-footer-social p-0" style="display: flex; justify-content: center">
                                <li class="ftco-animate"><a data-toggle="tooltip" data-placement="top" title="Cancer"><span class="fa-solid fa-virus"></span></a></li>
                                <li class="ftco-animate"><a data-toggle="tooltip" data-placement="top" title="Décoration"><span class="fa-solid fa-book"></span></a></li>
                                <li class="ftco-animate"><a data-toggle="tooltip" data-placement="top" title="Tableaux"><span class="fa-solid fa-palette"></span></a></li>
                            </ul>
                        </div>

                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-9">
                                    <div class="row">
                                        <div class="col-md-6 mb-md-0 mb-4">
                                            <h3 class="footer-heading">Plan du site</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="{{ path('homepage') }}" class="py-1 d-block">Accueil</a></li>
                                                <li><a href="{{path('cancers')}}" class="py-1 d-block">Mes cancers</a></li>
                                                <li><a href="{{path('decoration')}}" class="py-1 d-block">Mes décorations</a></li>
                                                <li><a href="{{path('tableaux')}}" class="py-1 d-block">Mes tableaux</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 mb-md-0 mb-4">
                                            <h3 class="footer-heading">Connexion</h3>
                                            <ul class="list-unstyled">
                                                {%if app.user%}
                                                    <li><a href="{{path('app_logout')}}" class="py-1 d-block">Se déconnecter</a></li>
                                                {%else%}
                                                    <li><a href="{{path('app_login')}}" class="py-1 d-block">Se connecter</a></li>
                                                    <li><a href="{{path('app_register')}}" class="py-1 d-block">S'inscrire</a></li>
                                                {%endif%}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-5">
                        <div class="col-md-12">
                            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://bj-technodev.fr" target="_blank">Projet réalisé par BjTechnoDev</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
                    <h2 class="footer-heading footer-heading-white">Contactez-nous</h2>
                    {{ form_start(our_form) }}
                    <div class="form-group footermargin">
                        {{ form_row(our_form.fullName, {'attr': {'class': 'form-control','placeholder':'Votre nom'},'label':'Nom'}) }}
                    </div>
                    <div class="form-group footermargin">
                        {{ form_row(our_form.email, {'attr': {'class': 'form-control','placeholder':'Email@gmail.com'},'label':'Email'}) }}
                    </div>
                    <div class="form-group footermargin">
                        {{ form_row(our_form.subject, {'attr': {'class': 'form-control','placeholder':'L\'objet de votre demande'},'label':'Objet'}) }}

                    </div>
                    <div class="form-group footermargin">
                        {{ form_row(our_form.message, {'attr': {'class': 'form-control','placeholder':'Votre message'},'label':'Message'}) }}

                    </div>
                    <div class="form-group footermargin">
                        <button type="submit" class="form-control submit px-3">Envoyer</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
    </html>
